apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: adjust-tz-example
  labels:
    app: adjust-tz
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: adjust-tz
    spec:
      containers:
        - name: adjust-tz
          image: ${IMAGE}
          args:
            - --tls-cert-file=/etc/webhook/certs/cert.pem
            - --tls-private-key-file=/etc/webhook/certs/key.pem
          volumeMounts:
            - name: webhook-certs
              mountPath: /etc/webhook/certs
              readOnly: true
            - name: zoneinfo
              mountPath: /usr/share/zoneinfo
              readOnly: true
      volumes:
        - name: webhook-certs
          secret:
            secretName: adjust-tz-example-certs
        - name: zoneinfo
          hostPath:
            path: /usr/share/zoneinfo
